<div class="panel panel-default">
  <div class="panel-body">
    <select class="custom-select"  [(ngModel)]="customer">
      <option [ngValue]="null">None</option>
      <option *ngFor="let c of customers" [ngValue]="c">{{ c.name }}</option>
    </select>
    <!-- <button class="btn btn-default" (click)="changeColor()">Zmień kolor</button> -->
    <!-- <button class="btn-danger" (click)="deleteCustomer()">Usuń klienta</button> -->
  </div>
</div>

<div *ngIf="customer">
  <cus-customer-details #details [customer]="customer" (shift)="onShift($event)"></cus-customer-details>
</div>